.main-wrap{
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding: 100px;
}

/* 1. banner */
.main-wrap .banner{
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
.main-wrap .banner .banner-slider-wrap{
  width: 300%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.main-wrap .banner .banner-slider-wrap .slider{
  width: 33.333%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrap .banner .banner-slider-wrap .slider:nth-child(1){
  background-color: rgba(0, 0, 0, 0.1);
}
.main-wrap .banner .banner-slider-wrap .slider:nth-child(2){
  background-color: rgba(0, 0, 0, 0.5);
}
.main-wrap .banner .banner-slider-wrap .slider:nth-child(3){
  background-color: rgba(0, 0, 0, 0.7);
}

/* 공통 스타일링 */
.main-wrap .go-detail{
  padding: 10px;
  text-align: end;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 0.9rem;
  transition: .3s;
}
.main-wrap .go-detail:hover{
  text-decoration: underline;
}

/* 2. board */
.main-wrap .board{
  width: 100%;
  height: fit-content;
  margin: 100px 0;
}
.main-wrap .board .txtBox{
  width: 100%;
  height: fit-content;
  margin-bottom: 30px;
}
.main-wrap .board .txtBox p{
  cursor: pointer;
}
.main-wrap .board .board-slider-wrap{
  width: 100%;
  height: fit-content;
  overflow: hidden;
}
.main-wrap .board .board-slider-wrap .board-sliders{
  width: 200%;
  height: 100%;
  display: flex;
}
.main-wrap .board .board-slider-wrap .board-sliders .board-slider{
  height: 400px;
  width: calc(12.5% - 20px);
  margin: 0 10px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: .3s;
}
.main-wrap .board .board-slider-wrap .board-sliders .board-slider:hover{
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.main-wrap .board .board-slider-wrap .board-sliders .board-slider .new{
  position: absolute;
  top: 30px;
  left: 15px;
  padding: 3px 10px;
  background-color: orange;
}
.main-wrap .board .board-slider-wrap .board-sliders .board-slider .top{
  width: 100%;
  height: 60%;
  border-radius: 10px;
  background-color: lightgray;
}
.main-wrap .board .board-slider-wrap .board-sliders .board-slider .bottom{
  width: 100%;
  height: 40%;
  padding: 10px 5px;
  position: relative;
}
.main-wrap .board .board-slider-wrap .board-sliders .board-slider .bottom .title{
  font-size: 1.2rem;
  font-weight: 700;
}
.main-wrap .board .board-slider-wrap .board-sliders .board-slider .bottom .content{
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  height: 70px;
  overflow: hidden;
}
.main-wrap .board .board-slider-wrap .board-sliders .board-slider .bottom .date{
  text-align: end;
  color: gray;
  font-size: 0.9rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.main-wrap .board .btnBox{
  width: 50px;
  height: 20px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrap .board .btnBox .btn{
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}

/* 3. notice */
.main-wrap .notice{
  width: 100%;
  height: fit-content;
}
.main-wrap .notice .notice-wrap{
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}
.main-wrap .notice .notice-wrap .notice-data{
  margin: 5px 0;
  width: 100%;
  height: 50px;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}
.main-wrap .notice .notice-wrap .notice-data:hover{
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.main-wrap .notice .notice-wrap .notice-data p{
  font-size: 1.1rem;
  font-weight: 500;
}
.main-wrap .notice .notice-wrap .notice-data span{
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}