/* 1. noticeList */
.noticeList{
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding: 100px;
}
.noticeList .top{
  width: 100%;
  height: fit-content;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noticeList .top .inputBox{
  width: 100%;
  height: 30px;
  margin: 15px 0;
  position: relative;
}
.noticeList .top .inputBox input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0 10px;
}
.noticeList .top .inputBox .clear,
.noticeList .top .inputBox .search{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.noticeList .top .inputBox .clear{
  width: 12px;
  height: 12px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 50%;
  right: 35px;
}
.noticeList .top .inputBox .search{
  width: 20px;
  height: 20px;
  right: 10px;
}
.noticeList .bottom{
  width: 100%;
  height: fit-content;
}
.noticeList .bottom .notice{
  width: 100%;
  height: fit-content;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  transition: .3s;
  cursor: pointer;
}
.noticeList .bottom .notice p{
  font-size: 1rem;
  font-weight: 500;
}
.noticeList .bottom .notice span{
  font-weight: 0.8rem;
  font-weight: 300;
  color: rgba(0,0,0,0.5);
}
.noticeList .bottom .notice:hover{
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.noticeList .bottom .noData{
  width: 100%;
  height: fit-content;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(0,0,0,0.5);
}
.noticeList .btnBox{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noticeList .btnBox button{
  padding: 5px 10px;
  border: 1px solid rgba(0,0,0,0.5);
  cursor: pointer;
  transition: .3s;
}
.noticeList .btnBox button:hover{
  border: 1px solid rgba(0,0,0,0.7);
}

/* 2. noticeDetail */
.noticeItem-wrap{
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding: 100px;
  position: relative;
}
.noticeItem-wrap .btnBox{
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.noticeItem-wrap .btnBox button{
  border: 1px solid rgba(0,0,0,0.2);
  margin: 0 5px;
  padding: 0 5px;
  cursor: pointer;
  transition: .3s;
}
.noticeItem-wrap .btnBox button:hover{
  background-color: rgba(0,0,0,0.7);
  color: #fff;
}
.noticeItem-wrap .txtBox{
  width: 100%;
  height: fit-content;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.noticeItem-wrap .txtBox .info{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.9rem;
}
.noticeItem-wrap .txtBox .info p{
  margin: 0 3px;
}
.noticeItem-wrap .txtBox .info p:first-child{
  margin-left: 0;
}
.noticeItem-wrap .date{
  margin-top: 5px;
  margin-right: 5px;
  text-align: end;
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(0,0,0,0.7);
}
.noticeItem-wrap .content{
  width: 100%;
  height: fit-content;
  min-height: 50vh;
  padding: 20px;
}
.noticeItem-wrap .show-noticeList{
  margin: 10px auto;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 5px 10px;
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
}
.noticeItem-wrap .show-noticeList:hover{
  background-color: rgba(0,0,0,0.05);
}

/* 3. noticePost */
.noticePost{
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.noticePost .title{
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}
.noticePost .notice-title{
  width: 100%;
  height: fit-content;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.noticePost .notice-content{
  width: 100%;
  height: 50vh;
  padding: 20px;
}
.noticePost button{
  padding: 5px 10px;
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
  margin-top: 20px;
}